/* 主时间线与筛选时间线容器样式 */
#visualization,
#visualization-selected {
    border: 1px solid #ccc; /* 边框为浅灰色 */
    background: #dfe0e055; /* 背景色为白色 */
    height: auto;
    margin-bottom: 10px;
}

.checkbox-group {
    display: flex;
    flex-wrap: wrap;            /* 自动换行 */
    gap: 10px 20px;             /* 上下 10px，左右 20px 的间距 */
    margin-top: 6px;
  }
  
  .checkbox-group label {
    display: flex;
    align-items: center;
    font-size: 16px;
  }