<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8" />
  <title id="main-title">{{ entityName }} | {{storyName}}</title>
  <link rel="stylesheet" href="/static/lib/vis-timeline/vis-timeline-graph2d.min.css" />
  <script src="/static/lib/vis-timeline/vis-timeline-graph2d.min.js"></script> 
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/locale/zh-cn.min.js"></script>
  <link rel="stylesheet" href="/static/css/form.css" />
  <link rel="stylesheet" href="/static/css/layout.css" />
  <link rel="stylesheet" href="/static/css/modal.css" />
  <link rel="stylesheet" href="/static/css/buttons.css" />
  <link rel="stylesheet" href="/static/css/entity_detail.css" />
  <style>
    body {
      margin-top: 0;
      padding-top: 0;
    }
    .vis-item {
      cursor: pointer;
    }
  </style>
</head>
<body>
  <div class="entity-container">
    <!-- 左侧栏 -->
    <div class="entity-side">
      <p><a href="/story/{{ entityType }}/list?story_id={{ storyId }}" style="text-decoration: none">返回{{ entityName }}列表</a></p>
      <div class="entity-img-block">
        <img id="{{ entityType }}-img" src="" alt="{{ entityName }}图像" class="clickable-img" style="cursor: pointer" />
      </div>

      <!-- 弹窗预览 -->
      <div id="img-modal" class="modal hidden" style="background-color: rgb(0 0 0 / 80%)">
        <img class="modal-content" id="modal-img" style="max-height: 70vh; max-width: 70vw; width: auto; object-fit: contain;" />
      </div>
      {% if entityType == 'story'%}
      <ul style="padding: 20px;">  
        <li><a href="/story/timeline?story_id={{entityId}}">时间线</a></li>
        <li><a href="/story/event/list?story_id={{entityId}}">事件列表</a></li>  
        <li><a href="/story/character/list?story_id={{entityId}}">人物列表</a></li>  
        <li><a href="/story/item/list?story_id={{entityId}}">物品列表</a></li> 
        <li><a href="/story/poem/list?story_id={{entityId}}">诗词列表</a></li> 
      </ul>
      {% endif %}
      <h4 style="margin-block-end:5px">相关{{ entityName }}</h4>
      <div id="related-{{ entityType }}s-block" class="related-items"></div>
    </div>

    <!-- 右侧内容 -->
    <div class="entity-content">
        {% if entityType == 'character' or entityType == 'item' %}
          <h2 id="detail-{{ entityType }}-name"></h2>
          {% else %}
          <h2 id="detail-{{ entityType }}-title"></h2>
        {% endif %}
      <div class="form-grid">
        {% for field in formSchema %}
        <div class="form-row {% if field.full or field.name =='mainEvents' %}full-width{% endif %} {% if field.hidden %}hidden{% endif %}" id="detail-{{ entityType }}-div-{{ field.name }}">
          <label>{{ field.label }}:</label>
          <span id="detail-{{ entityType }}-{{ field.name }}"></span>
        </div>
        {% endfor %}
      </div>

      <!-- 按钮区 -->
      <div class="form-row full-width" style="margin-top: 10px; display: flex; flex-direction: row; justify-content: space-between">
        <div style="display: flex; gap: 10px;">
          <button id="edit-btn" class="btn btn-success">编辑</button>
          <button id="save-btn" class="btn btn-success hidden">保存</button>
          <button id="cancel-btn" class="btn btn-success hidden">取消</button>
          <div id="image-upload-div" class="image-upload-block">
            <input type="file" id="image-upload" accept="image/*" style="display: none;" />
            <label for="image-upload" class="btn btn-primary" style="margin-bottom: 0; color: white;">修改图片</label>
          </div>
          <button id="template-create-btn" class="btn btn-primary">复制新建</button>
        </div>
        <div style="display: flex; gap: 10px;">
          {% if entityType == 'event' %}
          <a id="view-original-btn" href="#" target="_blank" class="btn btn-primary hidden" style="text-decoration: none;">查看原文</a>
          {% endif %}
          <button id="delete-btn" class="btn btn-danger hidden">删除</button>
        </div>
      </div>
    </div>
  </div>
  <div id="sub-timeline-container" class="entity-container hidden" style="display: block;border: 0">
    <div id="sub-timeline-title" style="margin: 0 20px;"></div>
    <div id="sub-timeline-visual" style="margin: 10px;height: 500px;"></div>
  </div>

  <script type="module" src="/static/js/entity/entity_detail.js"></script>
</body>
</html>