<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8" />
  <title id="main-title">人物详情</title>
  <link rel="stylesheet" href="/static/css/form.css" />
  <link rel="stylesheet" href="/static/css/buttons.css" />
  <link rel="stylesheet" href="/static/css/character_detail.css" />
</head>
<body>
       
  <div class="character-container">
    <!-- 左侧栏 --> 
    <div class="character-side">
      <p><a href="/story/{{storyId}}/character_list" style="text-decoration: none">{{storyName}}人物</a></p>    
      <img id="character-img" src="/static/imgs/cover_jmp.jpg" alt="人物图像" />
      <h4 style="margin-block-end:5px">相关人物</h4>
      <div id="related-characters-block" class="related-characters">
        <!-- 相关人物列表 -->
      </div>
    </div>

    <!-- 右侧内容 -->
    <div class="character-content">
        <h2 id="detail-character-name"></h2>
        <div class="form-grid">
            <!-- <div class="form-row"><label>姓名:</label><span id="detail-character-name"></span></div> -->
            <div class="form-row"><label>字号:</label><span id="detail-character-zi"></span></div>
            <div class="form-row"><label>别名:</label><span id="detail-character-aliases"></span></div>
            <div class="form-row"><label>性别:</label><span id="detail-character-gender"></span></div>
            <div class="form-row"><label>生日:</label><span id="detail-character-birth"></span></div>
            <div class="form-row"><label>出场年龄:</label><span id="detail-character-firstAge"></span></div>
            <div class="form-row"><label>出场章节:</label><span id="detail-character-firstChapter"></span></div>
            <div class="form-row"><label>爱好:</label><span id="detail-character-hobby"></span></div>
            <div class="form-row"><label>性格:</label><span id="detail-character-nature"></span></div>
            <div class="form-row"><label>住址:</label><span id="detail-character-addr"></span></div>
            <div class="form-row"><label>身份:</label><span id="detail-character-role"></span></div>
            <div class="form-row"><label>角色:</label><span id="detail-character-chara"></span></div>
            <div class="form-row"><label>职业:</label><span id="detail-character-job"></span></div>
            <div class="form-row full-width"><label>简介:</label><span id="detail-character-description"></span></div>
            <div class="form-row full-width"><label>主要事件:</label><span id="detail-character-mainEvents"></span></div>
            <div id="detail-character-div-note" class="form-row full-width"><label>备注:</label><span id="detail-character-note"></span></div>
            <div id="detail-character-div-body" class="form-row full-width hidden"><label>长相:</label><span id="detail-character-body"></span></div>
            <div id="detail-character-div-related" class="form-row full-width hidden"><label>主要关系:</label><span id="detail-character-related"></span></div>
        </div>
            <!-- 按钮区域 -->
            <div class="form-row full-width" style="margin-top: 10px; display: flex; flex-direction: row;justify-content: space-between">
                <div style="display: flex; gap: 10px;">
                    <button id="edit-btn" class="btn btn-success">编辑</button>
                    <button id="save-btn" class="btn btn-success hidden">保存</button>
                    <button id="cancel-btn" class="btn btn-success hidden">取消</button>
                </div>
                <div style="display: flex; gap: 10px;">
                    <button id="delete-btn" class="btn btn-danger hidden">删除</button>
                </div>
            </div>
    </div>
  </div>

  <script type="module" src="/static/js/character/character_detial.js"></script>
</body>
</html>