<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/layout.css" />
    <link rel="stylesheet" href="/static/css/modal.css" />
    <link rel="stylesheet" href="/static/css/buttons.css" />
    <link rel="stylesheet" href="/static/css/form.css">
    <title>人物列表</title>
</head>
<body>
    <h1>人物列表</h1>
    <button id="add-character-btn">新增人物</button>
    <div id="character-list"></div>

      <!-- 添加人物的弹窗 -->
    <div id="add-character-popup" class="modal hidden">
        <div class="modal-content">
        <span id="add-character-popup-close" class="close">&times;</span>
        <form id="add-character-form" class="form-grid">
            <div class="form-row"><label for="new-character-name">姓名:</label><input type="text" id="new-character-name" placeholder="姓名" required></div>
            <div class="form-row"><label for="new-character-aliases">别名:</label><input type="text" id="new-character-aliases" placeholder="外号等"></div>
            <div class="form-row"><label for="new-character-zi">字号:</label><input type="text" id="new-character-zi" placeholder="字号" ></div>
            <div class="form-row"><label for="new-character-birth">生日:</label><input type="date" id="new-character-birth"placeholder="生日"></div>
            <div class="form-row"><label for="new-character-first-age">出场年龄:</label><input type="number" id="new-character-first-age" placeholder="初次出场年龄"></div>
            <div class="form-row"><label for="new-character-first-chapter">出场章节:</label><input type="number" id="new-character-first-chapter" placeholder="初次出场章节"></div>
            <div class="form-row"><label for="new-character-hobby">爱好:</label><input type="text" id="new-character-hobby" placeholder="爱好"></div>
            <div class="form-row"><label for="new-character-nature">性格:</label><input type="text" id="new-character-nature" placeholder="性格"></div>
            <div class="form-row"><label for="new-character-addr">住址:</label><input type="text" id="new-character-addr" placeholder="住址"></div>
            <div class="form-row"><label for="new-character-role">身份:</label><input type="text" id="new-character-role" placeholder="xxx之妾,xxx之仆"></div>
            <div class="form-row"><label for="new-character-chara">角色:</label><input type="text" id="new-character-chara" placeholder="主角,配角"></div>
            <div class="form-row"><label for="new-character-job">职业:</label><input type="text" id="new-character-job" placeholder="主职业/官职"></div>
            <div class="form-row full-width"><label for="new-character-note">备注:</label><input type="text" id="new-character-note" placeholder="备注"></div>
            <div class="form-row full-width"><label for="new-character-main-events">主要事件:</label><textarea id="new-character-main-events" rows="5" placeholder="主要事件"></textarea></div>
            <div class="form-row full-width" style="text-align: right;"><button type="submit" class="btn btn-success">保存</button></div>
        </form>
        </div>
    </div>
    <!-- 脚本 -->
  <script type="module" src="{{ url_for('static', filename='js/character/character_main.js') }}"></script>
</body>
</html>