<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>小说故事线</title>
  <link href="https://unpkg.com/vis-timeline@latest/styles/vis-timeline-graph2d.min.css" rel="stylesheet" />
  <script src="https://unpkg.com/vis-timeline@latest/standalone/umd/vis-timeline-graph2d.min.js"></script>
  <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" /> -->
  <link rel="stylesheet" href="/static/css/layout.css" />
  <link rel="stylesheet" href="/static/css/modal.css" />
  <link rel="stylesheet" href="/static/css/buttons.css" />
  <link rel="stylesheet" href="/static/css/form.css">
</head>

<body>
  <h1>📖 小说故事时间线</h1>
  
  <button id="add-event-btn" class="btn btn-primary">添加新事件</button>
  
  <div id="visualization"></div>

  <label for="filter-group">筛选角色：</label>
    <div id="filter-group">
    <!-- 复选框选项将通过 JavaScript 动态生成 -->
    </div>
  <div id="visualization-selected"></div>

  <!-- 添加事件的弹窗 -->
  <div id="add-popup" class="modal hidden">
    <div class="modal-content">
      <span id="add-popup-close" class="close">&times;</span>
      <h2>新事件</h2>
      <form id="add-event-form">
        <label>标题：<input type="text" id="new-title" required></label><br />
        <label>日期：<input type="date" id="new-start" required></label><br />
        <label>地点：<input type="text" id="new-location"></label><br />
        <label>主角：<input type="text" id="new-key-character"></label><br />
        <label>人物：<input type="text" id="new-people"></label><br />
        <label>故事：</label>
        <br /><textarea id="new-story" rows="3" style="width: 100%"></textarea><br />
        <label>类别：<input type="text" id="new-category"></label><br />
        <label>标签：<input type="text" id="new-tags"></label><br />
        <label>节日：<input type="text" id="new-special-day" value="无" ></label><br />
        <label>季节：<input type="text" id="new-season" value="无" ></label><br />
        <label>天气：<input type="text" id="new-weather" value="无" ></label><br />
        <label>章节：<input type="number" id="new-chapter"></label><br />
        <label>备注：<input type="text" id="new-note"></label><br />
        <label>故事线：<input type="text" id="new-group" value="主线故事" required></label><br />
        <button type="submit"  class="btn btn-success">保存</button>
      </form>
    </div>
  </div>

  <!-- 打开具体事件的弹窗 -->
  <div id="popup" class="modal hidden">
    <div class="modal-content">
      <span id="popup-close" class="close">&times;</span>
      <h2 id="popup-title"></h2>
      <p><strong>时间:</strong> <span id="popup-start"></span></p>
      <p><strong>地点:</strong> <span id="popup-location"></span></p>
      <p><strong>主角:</strong> <span id="popup-key-character"></span></p>
      <p><strong>人物:</strong> <span id="popup-characters"></span></p>
      <p><strong>故事:</strong> <span id="popup-story"></span></p>
      <p><strong>类别:</strong> <span id="popup-category"></span></p>
      <p><strong>标签:</strong> <span id="popup-tags"></span></p>
      <p><strong>季节:</strong> <span id="popup-season"></span></p>
      <p><strong>节日:</strong> <span id="popup-special-day"></span></p>
      <p><strong>天气:</strong> <span id="popup-weather"></span></p>
      <p><strong>章节:</strong> <span id="popup-chapter"></span></p>
      <p><strong>备注:</strong> <span id="popup-note"></span></p>
      <p><strong>故事线:</strong> <span id="popup-group"></span></p>
      <button id="edit-btn"  class="btn btn-success">编辑</button>
      <button id="save-btn"  class="btn btn-success" style="margin-left: 10px;">保存</button>
      <button id="delete-btn" class="btn btn-danger" style="float: right;">删除</button>
    </div>
  </div>


  <!-- 脚本 -->
  <script type="module" src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>

</html>