<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>故事线管理器</title>
  <style>
    nav ul {
      list-style: none;
      padding: 0;
      display: flex;
      gap: 1rem;
      flex-wrap: wrap;
    }

    nav a {
      text-decoration: none;
      color: #007bff;
    }
    .root-container {
      margin: 0 20%
    }
    @media (max-width: 600px) {
      h2 {
        font-size: 1.5rem;
      }
      .root-container {
      margin: 0 10%
      }
    }
  </style>
  
</head>

<body>
  
  <div class="root-container">
  <h3>时间线管理器</h3>
  <nav>
    {% for s in storys %}
    <ul>
      <li>{{s[1]}}:</li>
      <li><a href="/story/{{s[0]}}/timeline">时间线</a></li>
      <li><a href="/story/{{s[0]}}/character_list">人物列表</a></li>  
    </ul>
    {% endfor %}
  </nav>
</div>
  
</body>

</html>