<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8" />
  <title id="main-title">物品详情</title>
  <link rel="stylesheet" href="/static/css/form.css" />
  <link rel="stylesheet" href="/static/css/layout.css" />
  <link rel="stylesheet" href="/static/css/modal.css" />
  <link rel="stylesheet" href="/static/css/buttons.css" />
  <link rel="stylesheet" href="/static/css/item_detail.css" />
</head>
<body>
       
  <div class="item-container">
    <!-- 左侧栏 --> 
    <div class="item-side">
      <!-- <button id="back" class="btn btn-success" style="margin-bottom: 15px;"><a href="/" style="text-decoration: none; color: azure;">首页</a></button> -->
      <p><a href="/story/{{storyId}}/item_list" style="text-decoration: none">{{storyName}}物品</a></p>    
      
      <!-- 原图与上传按钮 -->
      <div class="item-img-block">
        <img id="item-img" src="" alt="物品图像" class="clickable-img" style="cursor: pointer" />
      </div>

      <!-- 弹窗预览（无上传按钮） -->
      <div id="img-modal" class="modal hidden" style="background-color: rgb(0 0 0 / 80%);">
        <img class="modal-content" id="modal-img" style="max-height: 70vh; max-width: 70vw; width: auto; object-fit: contain; padding: 0;">
      </div>

      <h4 style="margin-block-end:5px">相关物品</h4>
      <div id="related-items-block" class="related-items">
        <!-- 相关物品列表 -->
      </div>
    </div>

    <!-- 右侧内容 -->
    <div class="item-content">
        <h2 id="detail-item-name"></h2>
        <div class="form-grid">
            <!-- <div class="form-row"><label>姓名:</label><span id="detail-item-name"></span></div> -->
            <div class="form-row"><label>别名:</label><span id="detail-item-aliases"></span></div>
            <div class="form-row"><label>出场章节:</label><span id="detail-item-firstChapter"></span></div>
            <div class="form-row"><label>类别:</label><span id="detail-item-category"></span></div>
            <div class="form-row"><label>标签:</label><span id="detail-item-tags"></span></div>
            <div class="form-row"><label>所有者/制作者:</label><span id="detail-item-owner"></span></div>
            <div class="form-row"><label>价格:</label><span id="detail-item-price"></span></div>
            <div class="form-row full-width"><label>简介:</label><span id="detail-item-description"></span></div>
            <div class="form-row full-width"><label>备注:</label><span id="detail-item-note"></span></div>
            <div class="form-row full-width"><label>关联事件:</label><span id="detail-item-mainEvents"></span></div>
            <div id="detail-item-div-related" class="form-row full-width hidden"><label>相关物品:</label><span id="detail-item-related"></span></div>
        </div>
            <!-- 按钮区域 -->
            <div class="form-row full-width" style="margin-top: 10px; display: flex; flex-direction: row;justify-content: space-between">
                <div style="display: flex; gap: 10px;">
                    <button id="edit-btn" class="btn btn-success">编辑</button>
                    <button id="save-btn" class="btn btn-success hidden">保存</button>
                    <button id="cancel-btn" class="btn btn-success hidden">取消</button>
                    <div id="image-upload-div" class="image-upload-block">
                      <input type="file" id="image-upload" accept="image/*" style="display: none;" />
                      <label for="image-upload" class="btn btn-primary" style="margin-bottom: 0;color: white;">修改图片</label>
                    </div>
                </div>
                <div style="display: flex; gap: 10px;">
                    <button id="delete-btn" class="btn btn-danger hidden">删除</button>
                </div>
            </div>
    </div>
  </div>

  <script type="module" src="/static/js/item/item_detial.js"></script>
</body>
</html>