<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>人物关系图</title>
    <!-- <script src="https://unpkg.com/cytoscape/dist/cytoscape.min.js"></script> -->
    <!-- <script src="https://unpkg.com/layout-base/layout-base.js"></script> -->
    <!-- <script src="https://unpkg.com/cose-base/cose-base.js"></script> -->
    <!-- <script src="https://unpkg.com/cytoscape-layout-utilities/cytoscape-layout-utilities.js"></script>  -->
    <script src="/static/lib/cytoscape/cytoscape.min.js"></script>
    <script src="/static/lib/cytoscape/layout-base.js"></script> 
    <script src="/static/lib/cytoscape/cose-base.js"></script>
    <script src="/static/lib/cytoscape/cytoscape-layout-utilities.js"></script>
    <script src="/static/lib/cytoscape/cytoscape-fcose.js"></script> 
  <style>
    #cy {
      width: 100%;
      height: 800px;
      border: 1px solid #aaa;
    }
  </style>
</head>
<body>

<h2>人物关系图</h2>
<div id="cy"></div>

<script src="/static/js/network/network_main.js"></script>
</body>
</html>