<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="utf-8" />
  <title>{{storyName}}故事线</title>
  <!-- <link href="https://unpkg.com/vis-timeline@latest/styles/vis-timeline-graph2d.min.css" rel="stylesheet" />
  <script src="https://unpkg.com/vis-timeline@latest/standalone/umd/vis-timeline-graph2d.min.js"></script> -->
  <link rel="stylesheet" href="/static/lib/vis-timeline/vis-timeline-graph2d.min.css" />
  <script src="/static/lib/vis-timeline/vis-timeline-graph2d.min.js"></script> 
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/locale/zh-cn.min.js"></script>

  <link rel="stylesheet" href="/static/css/layout.css" />
  <link rel="stylesheet" href="/static/css/timeline.css" />
  <link rel="stylesheet" href="/static/css/modal.css" />
  <link rel="stylesheet" href="/static/css/buttons.css" />
  <link rel="stylesheet" href="/static/css/form.css">
</head>

<body>
  <h3>{{storyName}}故事时间线</h3>
  <button id="back" class="btn btn-success" style="margin-bottom: 15px;"><a href="/" style="text-decoration: none; color: azure;">首页</a></button>
  <button id="novel-toc" class="btn btn-success" style="margin-bottom: 15px;"><a href="/static/novel/jpm/text/part0000.html" target="_blank" style="text-decoration: none; color: azure;">目录</a></button>
  <button id="add-event-btn" class="btn btn-primary" style="margin-bottom: 15px;">添加新事件</button>
  
  <div id="show-timeline">
    <div id="visualization"></div>

    <label for="filter-group">故事线：</label>
      <div id="filter-group"  class="checkbox-group">
      <!-- 复选框选项将通过 JavaScript 动态生成 -->
      </div>
    <div id="visualization-selected"></div>
  </div>
  <!-- 添加事件的弹窗 -->
  <div id="add-event-popup" class="modal hidden">
    <div class="modal-content">
      <span id="add-event-popup-close" class="close">&times;</span>
      <!-- <h2>添加新事件</h2> -->
      <form id="add-event-form" class="form-grid">
        <div class="form-row full-width"><label for="new-event-title">标题:</label><input type="text" id="new-event-title" placeholder="必填" required></div>
        <div class="form-row"><label for="new-event-start">起始:</label><input type="text" id="new-event-start" placeholder="必填: 1111-11-11 08:00或时间留空"required></div>
        <div class="form-row"><label for="new-event-start">结束:</label><input type="text" id="new-event-end" placeholder="可不填"></div>
        <div class="form-row"><label for="new-event-location">地点:</label><input type="text" id="new-event-location"placeholder="发生地点"></div>
        <div class="form-row"><label for="new-event-keyCharacter">主角:</label><input type="text" id="new-event-keyCharacter"placeholder="关键人物"></div>
        <div class="form-row full-width"><label for="new-event-characters">人物:</label><input type="text" id="new-event-characters" placeholder="所有人物"></div>
        <div class="form-row"><label for="new-event-special-day">节日:</label><input type="text" id="new-event-specialDay" placeholder="特殊节日"></div>
        <div class="form-row"><label for="new-event-season">季节:</label><input type="text" id="new-event-season" placeholder="春夏秋冬"></div>
        <div class="form-row"><label for="new-event-weather">天气:</label><input type="text" id="new-event-weather" placeholder="雨雪晴霜"></div>
        <div class="form-row"><label for="new-event-chapter">章节:</label><input type="number" id="new-event-chapter" placeholder="1"></div>
        <div class="form-row"><label for="new-event-category">类别:</label><input type="text" id="new-event-category" placeholder="情节分类：复仇，家庭等"></div>
        <div class="form-row"><label for="new-event-tags">标签:</label><input type="text" id="new-event-tags" placeholder="情节标签：吃饭，葬礼等"></div>
        <div class="form-row full-width"><label for="new-event-note">备注:</label><input type="text" id="new-event-note" placeholder="备注"></div>
        <div class="form-row full-width"><label for="new-event-storyLine">故事线:</label><input type="text" id="new-event-storyLine" placeholder="必填: 某某线，主线等" required></div>    
        <!-- <div class="form-row full-width"><span>故事内容:</span><textarea id="new-event-story" rows="5"></textarea></div> -->
        <div class="form-row full-width"><label for="new-event-story">故事内容:</label><textarea id="new-event-story" rows="5" placeholder="必填" required></textarea></div>
        <div class="form-row full-width" style="text-align: right;"><button type="submit" class="btn btn-success">提交</button></div>
      </form>
    </div>
  </div>

  <!-- 打开具体事件的弹窗 -->
  <div id="popup-event" class="modal hidden">
    <div class="modal-content">
      <span id="popup-event-close" class="close">&times;</span>
      <h2 id="popup-event-title">标题</h2>
      <div class="form-grid">
        <!-- <div class="form-row full-width"><label>标题:</label> <span id="popup-event-title"></span></div> -->
        <div class="form-row"><label>起始:</label> <span id="popup-event-start"></span></div>
        <div class="form-row"><label>结束:</label> <span id="popup-event-end"></span></div>
        <div class="form-row"><label>地点:</label> <span id="popup-event-location"></span></div>
        <div class="form-row"><label>主角:</label> <span id="popup-event-keyCharacter"></span></div>
        <div class="form-row full-width"><label>人物:</label> <span id="popup-event-characters"></span></div>
        <div class="form-row"><label>季节:</label> <span id="popup-event-season"></span></div>
        <div class="form-row"><label>节日:</label> <span id="popup-event-specialDay"></span></div>
        <div class="form-row"><label>天气:</label> <span id="popup-event-weather"></span></div>
        <div class="form-row"><label>章节:</label> <span id="popup-event-chapter"></span></div>
        <div class="form-row"><label>类别:</label> <span id="popup-event-category"></span></div>
        <div class="form-row"><label>标签:</label> <span id="popup-event-tags"></span></div>
        <div class="form-row full-width"><label>备注:</label> <span id="popup-event-note"></span></div>
        <div class="form-row full-width"><label>故事线:</label> <span id="popup-event-storyLine"></span></div>
        <div class="form-row full-width"><label>故事内容:</label> <span id="popup-event-story"></span></div>
        <div class="form-row full-width hidden" id="popup-event-textUrl-div"><label>原文链接:</label> <span id="popup-event-textUrl"></span></div>
        <!-- 按钮区域 -->
        <div class="form-row full-width" style="margin-top: 10px; display: flex; flex-direction: row;justify-content: space-between">
            <div style="display: flex; gap: 10px;">
              <button id="edit-btn" class="btn btn-success">编辑</button>
              <button id="save-btn" class="btn btn-success hidden">保存</button>
              <button id="cancel-btn" class="btn btn-success hidden">取消</button>
            </div>
            <div style="display: flex; gap: 10px;">
              <a id="view-original-btn" href="#" target="_blank" class="btn btn-primary hidden" style="text-decoration: none;margin-top: 10px">查看原文</a>
              <button id="delete-btn" class="btn btn-danger">删除</button>
            </div>
          </div>
      </div>
    </div>
  </div>


  <!-- 脚本 -->
  <script type="module" src="{{ url_for('static', filename='js/timeline/timeline_main.js') }}"></script>
</body>
</html>